<footer class="footer mt-auto bg-light fixed-bottom">
    <div class="container-fluid py-2">
        <div class="row">
            <!-- Icon/Links -->
            <div class="col-4">
                <ul class="nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/danneekim/angular8-highcharts">
                            <i class="fa fa-github fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/dannee-kim/">
                            <i class="fa fa-linkedin fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:dannee.kim.wd@gmail.com">
                            <i class="fa fa-google fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Copyright -->
            <div class="col-4 py-2">
                <div class="footer-copyright text-center">© 2020 Copyright:
                    <a>Dannee Kim</a>
                </div>
            </div>
            <!-- Placeholder -->
            <div class="col-4">
                &nbsp;
            </div>
        </div>




    </div>
</footer>