<div class="row">
    <div class="col-sm">
        <h1>Welcome {{currentUser.firstName}}! </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <p>To get started on one of the provided links:</p>
    </div>
    <div class="col-sm">
        <span style="float: right;" class="btn btn-link">
            <a (click)="logout()">Log Out</a>
        </span>
    </div>
</div>
<div *ngIf="!(loaderService.isLoading | async)" class="row">
    <div class="col-sm json text-center">
        <p>Apple Inc (AAPL)</p>
        <button (click)="fetchData('/AAPL.json')">Generate Graph</button>
    </div>
    <div class="col-sm json text-center">
        International Business Machines Corp (IBM) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/IBM.json">IBM
            JSON</a>
    </div>
    <div class="col-sm json text-center">
        Citibank - <a href="https://www.quandl.com/api/v3/datasets/WIKI/CITI.json">CITI JSON</a>
    </div>
</div>
<div *ngIf="!(loaderService.isLoading | async)" class="row">
    <div class="col-sm json text-center">
        American Express Co. (AXP) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/AXP.json">AXP JSON</a>
    </div>
    <div class="col-sm json text-center">
        CVS Health Corp (CVS) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/CVS.json">CVS JSON</a>
    </div>
    <div class="col-sm json text-center">
        General Electric Co (GE) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/GE.json">GE JSON</a>
    </div>
</div>
<div *ngIf="!(loaderService.isLoading | async)" class="row">
    <div class="col-sm json text-center">
        Microsoft Corporation (MSFT) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/MSFT.json">MSFT JSON</a>
    </div>
    <div class="col-sm json text-center">

    </div>
    <div class="col-sm json text-center">

    </div>
</div>
<div *ngIf="loaderService.isLoading | async" class="row">
    <div class="col-sm json">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="spinner-border" style="width: 25vh; height: 25vh;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="row" >
    <div id="graphContainer"></div>
</div>
