<div class="row">
    <div class="col-sm">
        <h1>Welcome {{currentUser.firstName}}! </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <p>To get started on one of the provided links:</p>
    </div>
    <div class="col-sm">
        <span style="float: right;" class="btn btn-link">
            <a  (click)="logout()">Log Out</a>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm json">
        <p *ngIf="loaderService.isLoading | async">
            Loading!
          </p>
          <p *ngIf="!(loaderService.isLoading | async)">
            Not Loading!
          </p>
        Apple Inc (AAPL) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/AAPL.json">AAPL JSON</a>
        <button (click)="fetchData('/AAPL.json')">APPL.JSON</button>
    </div>
    <div class="col-sm json">
        International Business Machines Corp (IBM) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/IBM.json">IBM JSON</a>
    </div>
    <div class="col-sm json">
        Citibank - <a href="https://www.quandl.com/api/v3/datasets/WIKI/CITI.json">CITI JSON</a>
    </div>
</div>
<div class="row">
    <div class="col-sm json">
        American Express Co. (AXP) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/AXP.json">AXP JSON</a>
    </div>
    <div class="col-sm json">
        CVS Health Corp (CVS) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/CVS.json">CVS JSON</a>
    </div>
    <div class="col-sm json">
        General Electric Co (GE) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/GE.json">GE JSON</a>
    </div>
</div>
<div class="row">
    <div class="col-sm json">
        Microsoft Corporation (MSFT) - <a href="https://www.quandl.com/api/v3/datasets/WIKI/MSFT.json">MSFT JSON</a>
    </div>
    <div class="col-sm json">
        
    </div>
    <div class="col-sm json">
        
    </div>
</div>
